<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <p><a href="/me/dashboard">대시보드로 돌아가기</a></p>

  <ul>
    <% courses.forEach(course => { %>
      <li>
        <a href="/courses/<%= course.id %>">
          [<%= course.Semester ? course.Semester.name : 'N/A' %>] <%= course.title %> (<%= course.code %>-<%= course.section %>)
        </a>
        <% if (user.role === 'STUDENT') { %>
          - <%= course.Instructor ? course.Instructor.name : 'N/A' %> 교수님
        <% } %>
      </li>
    <% }) %>
  </ul>
</body>
</html>
